
/*
Used for styling texts, paragraphs, and the background-images. 
and the buttons that leads to my VR Game and the Projects.
Includes CSS for parallax picture scrolling too!
Kobe Chang note: This plugin is used only for attaining the Parallax effect for backgrounds. 

Plugin: jQuery Parallax
Version 1.1.3
Plugin: Author: Ian Lunn
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/
License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike).
*/

html {
    scroll-behavior: smooth;
  }
body{
        margin: 0;
        background-color: #151515;
        padding: 0;
}

#VR-text{
    
    font-weight: bold;
    font-size: 8vw;
    font-family: 'Raleway';
    margin: 1vw auto;
}

#selectedprojects {
    background-color: black;
    color: white;
    height: 90vw;
    margin: 0vw auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}


.selectedprojects_titletext{
    font-weight: 600;
    font-family: 'Raleway';
    color: white;
    font-size: 7vw;

    position: absolute;
    margin: 10vw 2vw;
    width: 90vw;
    height: 11vw;
    text-align: center;
    padding: 3vw;
    opacity: 0;
    
    transition: opacity 1s .1s ease-in-out,
                transform 4s 0s cubic-bezier(0,1,.3,1);
    will-change: opacity, transform;
}

.selectedprojects_titletext.is-visible
{
    transform: translate(0%, -50%);
    opacity: 1;
}


.selectedprojects_image_settings{
    background: url("images/art.png") 0% 0 no-repeat;
    background-size: 60vw;  
    margin: 20vw 20vw;
    border-radius: 20px;
    width: 60vw;
    height: 130vw;
    background-position-y: center;
    z-index: 200;
    opacity: 0;
    will-change: opacity, transform;
    transition: opacity 1s .10s ease-in-out,
                transform 3s 0s cubic-bezier(0,1,.3,1);
}

.selectedprojects_image_settings.is-visible
{
    transform: translate(0%, -15%);
    opacity: 0.4;
}

.semi-trans-box
{
    position: absolute;
    margin: -110vw 21vw;
    width: 47vw;
    height: 20vw;
    text-align: center;
    padding: 5vw;
    opacity: 1;
    transition: opacity 1.5s .25s ease-in-out,
                transform 2s 0s cubic-bezier(0,1,.3,1);
    will-change: opacity, transform;
}

.semi-trans-box.is-visible
{
    transform: translate(0%, -80%);
    opacity: 1;
}


.selectedprojects_text
{
    font-weight: 600;
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 4.2vw;
}

.project_pic
{
    width: 20vw;
    height: 25vw;
    padding: 0;
    z-index: 200;
    position: absolute;
    opacity: 0.8;
    transition: opacity 0.3s 0s ease-in-out,
                transform 2s 0s cubic-bezier(0,1,.3,1);
    will-change: opacity, transform;
}
.project_pic:hover{
    opacity: 1;
}

#project6
{
    background: url("article_covers/project_6.png") 0% 0 no-repeat;
    background-size: 20vw;  
    margin: 23vw 0 0 15vw;
}


#project5
{
    background: url("article_covers/project_5.png") 0% 0 no-repeat;
    background-size: 20vw;  
    margin: 23vw 0 0 40vw;
}


#project4
{
    background: url("article_covers/project_4.png") 0% 0 no-repeat;
    background-size: 20vw;  
    margin: 23vw 0 0 65vw;
}

#project3
{
    background: url("article_covers/project_3.png") 0% 0 no-repeat;
    background-size: 20vw;  
    margin: 53vw 0 0 15vw;
}


#project2
{
    background: url("article_covers/project_2.png") 0% 0 no-repeat;
    background-size: 20vw;  
    margin: 53vw 0 0 40vw;
}


#project1
{
    background: url("article_covers/project_1.png") 0% 0 no-repeat;
    background-size: 20vw;  
    margin: 53vw 0 0 65vw;
}


#essential{
    background-color: black;
    color: white;
    height: 200vw;
    margin: 0vw auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.essential_image_settings{
    width: 50vw;
    height: 50vw;
    padding: 0;
    z-index: 200;
}
#essential_image1{
    background: url("images/essential_tools.png") 0% 0 no-repeat;
    background-size: 60vw;  
    background-color: aliceblue;
    width: 60vw;
    height: 25vw;
    margin: 34vw 0 0 20vw;
    border-radius: 20px;
}

#essential_image2{
    background: url("images/party.JPG") 0% 0 no-repeat;
    background-size: 60vw;  
    background-color: aliceblue;
    width: 60vw;
    height: 35vw;
    margin: -99vw 0 0 20vw;
    border-radius: 20px;
}


#featured{
    background: url(images/Mt.\ Fuji2.png) 50% 0 no-repeat fixed;
    background-size: 200vw;
    color: white;
    height: 130vw;
    margin: 0vw auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
        
}

.center-text {
    font-weight: 300;
    width: 80vw;
    float: left;
    font-family: 'Raleway';
    color: white;
    font-size: 2.8vw;
    margin: 8vw 0 9vw 10vw;
    text-align: center;
}

.left-text {
    font-weight: 300;
    width: 50vw;
    float: left;
    font-family: 'Raleway';
    color: white;
    font-size: 2.8vw;
    margin: 5vw 0 0 5vw;

}

.secondImageSettings{
    width: 36vw;
    height: 36vw;
    padding: 0;
    position: absolute;
    z-index: 200;
}

#asymImage1{
    background: url("images/AsymmetricalVR.png") 0% 0 no-repeat;
    background-size: 50vw;  
    width: 50%;
    height: 21.5vw;
    margin: 15vw 0 0 5vw;
    border-radius: 10px;
}

#asymImage2{
    background: url("images/VRAsym2.png") 0% 0 no-repeat;
    background-size: 35vw;      
    margin: 25vw 0 0 60vw;
}

#asymImage3{
    background: url("images/VRAsym3.png") 0% 0 no-repeat;
    background-size: 35vw;      
    margin: 75vw 0 0 55vw;
}

#asymLinkButton{
    margin: 110vw 0 0 20vw;
}

#videoStyle{
    object-fit: cover;
    left: 0;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

#videoDiv{
    background: 50% 0 no-repeat fixed;
    position: relative;
    height: 50vw;
    overflow: hidden;
}


#third{

    background-color: #1f1f1f;
    
    background: url(images/dog.jpg) no-repeat fixed;
   
    background-size: 120vw;
    color: white;
    height: 85vw;
    width: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;

}


.text {
    color: white;
    position: absolute;
    margin: 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10vw;
    text-align: center;
    width: 100vw;
    height: 50vw;
}


.underline{
    text-decoration: underline;
}


.scrollpic{
    background: url("images/me4.png") 0% 0 no-repeat;
    background-size: 25vw;      
    width: 40vw;
    height: 100%;
    padding: 0;
    position: absolute;
    margin: 0vw 0vw;
    z-index: 200;
    
    overflow: hidden;

}

.grouppic{
    background: url("images/friends.png") 0% 0 no-repeat;   
    background-size: 25vw;      
    width: 40vw;
    height: 100%;
    padding: 0;
    position: absolute;
    margin: 15vw 0vw;
    z-index: 200;
    
    overflow: hidden;

}

.grouppic2{
    background: url("images/friends2.png") 0% 0 no-repeat;
    background-size: 40vw;      
    width: 40vw;
    height: 100%;
    padding: 0;
    position: absolute;
    margin: 40vw 0vw 0 0;
    z-index: 200;
    
    overflow: hidden;
}

.gunnvrpic{
    background: url("images/gvrclub.png") 50% 0 no-repeat;
    background-size: 40vw;      
    width: 40vw;
    height: 80vw;
    padding: 0;
    position: absolute;
    margin: 80vw 0vw 0 0;
    z-index: 200;
    
    overflow: hidden;
}

.amplifyLogo{
    
    background: url("images/amplifyAIlogo.png") 50% 0 no-repeat;
    background-size: 40vw;      
    width: 40vw;
    height: 40vw;
    padding: 0;
    position: absolute;
    margin: 130vw 0vw 0 0;
    z-index: 200;
    
    overflow: hidden;
 
}

.meAndBro{
    background: url("images/meandmybro.png") 50% 0 no-repeat;
    background-size: 40vw;      
    width: 40vw;
    height:60vw;
    padding: 0;
    position: absolute;
    margin: 150vw 0vw 0 0;
    z-index: 200;
    overflow: hidden;
}

#profile_pic
{
    background: url("images/me_circle.png") 50% 0 no-repeat;
    background-size: 20vw;      
    width: 30vw;
    height: 27vw;
    padding: 0;
    position: absolute;
    margin: 5vw 36vw;
    z-index: 200;
    overflow: hidden;
}

#about_me_textbox
{
    width: 95vw;
    height: 60vw;
    padding: 0;
    position: absolute;
    margin: 15vw 2.3vw;
    z-index: 199;
    background-color: #272525;
    border-radius: 25px;
}

#about_me_title{
    font-family: 'Muli', sans-serif;
    font-size: 15vw;
    margin: -0vw 50vw;
    position: relative;
    width: 60vw;
    height: 10vw;
    text-decoration: underline;
    color: whitesmoke
}

#about_me_name
{
    color:  rgb(255, 167, 109);
    font-family: 'Raleway';
    font-size: 5vw;
    margin: 12vw 27.5vw;
    width: 50vw;
    z-index: 201;
    font-weight: bold;
}

.about_me_text
{
    font-family: 'Muli', sans-serif;
    font-size: 2vw;
    margin: -10vw 0vw;
    position: relative;
    width: 95%;
    padding: 3vw;
    color: #d8d8d8;
    line-height: 3vw;
}

.paragraph{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: 4vw;
    margin-top: 5vw;
    margin-left: 35vw;
    position: relative;
    width: 55vw;
    height: 10vw; 
    float: right;
    
}


.paragraph span{
    color: rgb(255, 167, 109);
    font-weight: bold;
}

#coloredYellow{
    color: rgb(255, 240, 109);
}
#coloredBlue{
    color: rgb(110, 137, 255);
}

#coloredRed{
    color: rgb(255, 109, 109);
}

#coloredPurple{
    color: rgb(201, 107, 255);
}

#coloredGreen{
    color: rgb(203, 255, 107);
}

u{
    color: rgb(255, 167, 109);
}
#p1{
    
    margin-top: 5vw;
    
}
#p2{
    margin-top: -5vw;
}
#p3{
    margin-top: 15vw;
}
#p4{
    margin-top: 9vw;
}


.clickableText:link{
    color:  rgb(255, 209, 109);
    z-index: 2;
    position: relative;
}


.clickableText:visited{
    color:  rgb(255, 209, 109);
    z-index: 2;
    position: relative;
}
.clickableText:hover{
    color: rgb(109, 201, 255);
    z-index: 2;
    position: relative;
}

.clickableT:link{
    color:  rgb(255, 167, 109);
    z-index: 2;
    position: relative;
}


.clickableT:visited{
    color: rgb(255, 167, 109);
    z-index: 2;
    position: relative;
}
.clickableT:hover{
    color: rgb(109, 201, 255);
    z-index: 2;
    position: relative;
}


.website-button{
    position: absolute;
    z-index: 10;
    background-color: white;
    color: black;
    display: block;
    height: 3vw;
    width: 16vw;
    border-radius: 10px;
    margin: 45vw 43vw;
    font-size: 2.5vw;
    font-style: italic;
    text-decoration: none;
    text-align: center;
}

.website-button:hover{
    filter: invert(100%);
}

/* For half-window size */
@media screen and (max-width:700px){
    .center-text 
    {
        font-size: 5vw;
    }

    #featured
    {
        height: 200vw;
        margin: 0vw auto;
        background-repeat: no-repeat;
        background-size: 300vw;
        
    }

    #videoDiv
    {
       
        position: relative;
        height: 90vw;
        overflow: hidden;
    
    }
    
    #third
    {
        height: 220vw;
        margin: 0vw auto;
        background-repeat: no-repeat;
        background-size: 260vw;
    }

    #profile_pic
    {
        background-size: 30vw;      
        width: 30vw;
        height: 30vw;
        margin: 15vw 36vw;
    }


    #about_me_textbox
    {
        height: 180vw;
        margin: 30vw 2.3vw;
    }
    #about_me_name
    {
        margin: 20vw 10.5vw;
        font-size: 8vw;
        width: 80vw;
    }

    .about_me_text
    {
        font-size: 4vw;
        line-height: 6vw;
    }

    
}

/* Because the plugin works horribly on mobile devices,
I am forced to create a static background.
Look at index.html @ the javascript script at the top
and also at parallax.js  */
@media screen and (max-width:500px){

    #essential 
    {
        height: 330vw;
    }

    .essential_image_settings
    {
        width: 100vw;
        height: 100vw;
        padding: 0;
        margin: 34vw 0 0 20vw;
        z-index: 200;
    }

    #essential_image1
    {
        background: url("images/essential_tools.png") 0% 0 no-repeat;
        background-size: 80vw;  
        background-color: aliceblue;
        width: 80vw;
        height: 35vw;
        margin: 65vw 0 0 10vw;
        border-radius: 20px;
    }
    
    #essential_image2
    {
        background: url("images/party.JPG") 0% 0 no-repeat;
        background-size: 100vw;  
        background-color: aliceblue;
        width: 90vw;
        height: 75vw;
        margin: -140vw 0 0 5vw;
        border-radius: 20px;
    }

    #third
    {
        height: 370vw;
        background-size: 300vw;
    }

    #about_me_textbox
    {
        height: 340vw;
        margin: 20vw 2.3vw;
    }

    #profile_pic
    {
        background-size: 35vw;      
        width: 35vw;
        height: 35vw;
        margin: 5vw 34vw;
    }



    #about_me_name
    {
        margin: 40vw 8vw;
        font-size: 9vw;
        width: 80vw;
    }

    .about_me_text
    {
        font-size: 6vw;
        line-height: 8vw;
        margin: -30vw 0vw;
        width: 90vw;
    }
   
    .meAndBro
    {
        height:70vw;
        
    }

    #asymLinkButton
    {
        margin: 120vw 0 0 20vw;
    }
    
    #gameLinkButton
    {
        margin: 83vw 0 0 42vw;
    }
    
}

