
/*
Kobe Chang edit: This plugin is used only for attaining the Parallax effect for backgrounds. 
Plugin: jQuery Parallax
Version 1.1.3
Plugin: Author: Ian Lunn
Twitter: @IanLunn
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/
License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike).
*/
body{
        margin: 0;
       
        padding: 0;
}



#header h1, #pixels{
        color: #48941A;
}

#slider-section {
    height: 40vw;
    background: 50% 0 no-repeat fixed;
    background-color: #1f1f1f;
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.slider {
    width: 100%;
    height: 60vw;
    background-color: #1f1f1f;
    overflow: hidden;
   position: relative;
}


.slider span{
    position: absolute;
    height: 700;
    left: 0%; 
    animation-delay: -1s;
    background-image: url(images/neuralnetwork.jpeg);
    background-size: cover;
    background-position: center;
    animation: slide-up 24s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    overflow: hidden;

}
.slider span:nth-child(1) {
    left: 0%;
    width: 0%;
    
    background-image: url(images/me.JPG);
    background-position: 0 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    animation: profile-slide 24s infinite;
    animation-fill-mode: forwards;
    animation-delay: 6s;

}
.slider span:nth-child(2) {
    right: 0%;
    width: 0%;
    height: 40vw;
    background-image: url(images/simulation.gif );
    background-size: 50vw;
    background-position: 0 -20vw;
    animation: weird-slidee 24s infinite;
    animation-fill-mode: forwards;
    animation-delay: 13s;
 
}

.slider span:nth-child(3) {
    right: 0%;
    width: 0%;
    background-image: url(images/art5.png);
    background-size: cover;
    animation: horizontal-close 24s infinite;
    animation-fill-mode: forwards;
    animation-delay: 17.5s;
 
}

@keyframes profile-slide{
    0% {left: 100%; width:50%;top: 0px;}
    5% {left: 50%;width: 50%;top: 0px;}
    25% {left:50%;width: 50%;top: 0px;}
    30% {left: -100%; width: 50%;top: 0px;}
    50.0001% {left: -100%; width: 0vw;top: 0px;}
    100% {left: 100%; width: 0vw;top: 0px;}
}

@keyframes slide-up{
    0% {left: 0%;
        margin-left: auto;
        margin-right: auto; top: 100%; width: 100%;}
    5% {left: 0%;
        margin-left: auto;
        margin-right: auto;top: 0%;width: 100%;}
    25% {left: 0%;
        margin-left: auto;
        margin-right: auto;top:0%;width: 100%;}
   
    30.0001% {left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}
}

@keyframes weird-slidee{
    0% {left: 100%; width: 100%;top:0;}
    1.25% {left: 0%;top:0;}
    15% {left:0%;top:0;}
    18% {left: -100%; width: 100%;top:0;}
    25% {left: -100%; width: 100%;top:0;}
    100% {left: -100%; width: 0%;top:0;}
}
@keyframes horizontal-close{
    0% {left: 100%; width: 100%; top: 0%; height: 100%}
    1.25% {left: 0%;width: 100%; top: 0%;height: 100%;}
    20% {left: 0%;width: 100%; top: 0%;height: 100%;}
    
 
    25% {left: 0%; width: 100%;top:40%; height: 0%;}
    100% {left: 0%;width: 100%;top:40%; height: 0%;}
}


.title{
    margin: 30px 0 0 40px;
    font-weight: 600;
    float: left;
    font-family: 'Raleway';
}


.variableWord{
    margin: -8px 0 0 60px;
    font-weight:500;
    font-style:normal;
    font-size: 4vw;
    width: 100%;
    float: left;
    position: absolute;
    


}

.variableWord span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
    color: #99ffb3; 
    
}
.variableWord span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
    color: #ff7b7b;
}
.variableWord span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
    color: #fffeb0;
}
.variableWord span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
    color: #c0ff79;
}
.variableWord span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
    color: #ffc861;
}

.variableWord span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #fff8bc;
    font-family: 'Raleway';
    -webkit-animation: animateWord 18s linear infinite 0s;
    -ms-animation: animateWord 18s linear infinite 0s;
    animation: animateWord 18s linear infinite 0s;
}
@-webkit-keyframes animateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

.float-left{
        float: left;    
        margin: 80px 100px 0 20px;
        border: 1px solid black;
}

.float-right{
        float: right;
        margin: 0 20px 0 0;
}

.center{
        font-size: 2.5em;
        padding: 80px 0 0 0;
        text-align: center;
}

#nav{
        list-style: none;
        position: fixed;
        right: 20px;
}

#nav li{
        margin: 0 0 15px 0;     
}

#header, #intro, #second{
        width: 100%;
}

.video-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.4);
    z-index: 2;
    animation: popdown 1s;
    animation-timing-function: cubic-bezier(0, 1.36, 0.90, 1.42);
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

@keyframes popdown{
    0% {height: 0;}
    
    100%{
        height: 14vw;}
}

#buttonh{
    position: absolute;
    margin: 500px 0 0 400px;
    
    font-weight: 700;
    float: left;
    z-index:2;
    background-image: url(images/resume-button.png)
}
#buttonsecond{
    position: absolute;
    margin: 500px 0 0 400px;
    
    font-weight: 700;
    float: left;
    z-index:2;
}



#intro2{
    color: white;
    font-size: 5vw;
}


#videoStyle{
    object-fit: cover;
    left: 0;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

#theVideo{
    background: 50% 0 no-repeat fixed;
    position: relative;
    height: 50vw;
    overflow: hidden;


}

#second{
        background: url("images/betterFuji.png") 50% 0 no-repeat fixed;
        background-size: 100vw 100vw;
        background-color: #4D4C88;
        color: white;
        height: 80vw;
        margin: -80 auto;
        overflow: hidden;
        padding:0;
        width: 100%;
}


#third{
    background: url("images/betterSierra.png") 50% 0 no-repeat fixed;
    background-size: 118vw 118vw;
    background-color: #1f1f1f;
    color: white;
    height: 80vw;
    margin: 0 auto;
    overflow: hidden;
    padding:0;
    width: 100%;
}

#fifth{
        background: rgb(43, 8, 126);
        height: 400px;
        margin: 0 auto;
        padding: 40px 0 0 0;
}

.story{
        margin: 40 40;
       
        overflow: auto;
        width: 980px;
        
}

.story .float-left, .story .float-right{
        padding: 10% 0 0 10%;
        position: relative;
        width: 350px;   
}


@media screen and (max-width:860px){
    @keyframes popdown{
        0% {height: 0;}
        
        100%{
            height: 18vw;}
    }

    
    .variableWord{
        margin: -3px 0 0 30px;
    }
    #slider-section{
        
        height: 100vw;
        background-color: #1f1f1f;
    }
    .slider{
        height: 100vw;
    }

    .slider span:nth-child(1) {
        background-position: -45px 50px;
        background-size: 150%;
       
    }
    .slider span:nth-child(2) {
        height: 200%;
        
        background-size: 105%;
        background-position: -10px 0px;
        background-color: aqua;
    }

    .slider span:nth-child(3) {
        height: inherit;
        background-position: -250px 0;
        background-repeat: no-repeat;
        background-size: 205%;
        width: 100%;
        left: 100%;
    }

    @keyframes horizontal-close{
        0% {left: 100%;  top: 0%; height: 105%;width: 100%;}
        1.25% {left: 0%;top: 0%;height: 105%;width: 100%;}
        20% {left: 0%; top: 0%;height: 105%;width: 100%;}
        
     
        25% {left: 0%;top:50%; height: 0%;}
        100% {left: 0%;top:50%; height: 0%;}
    }
    
    #second{
        height: 170vw;
        background-position: -30px 0;
        background-size: 350vw;
    }

    #theVideo{
       
        position: relative;
        height: 80vw;
        overflow: hidden;
    
    
    }
    #third{
        height: 170vw;
        background-position: -30px 0;
        background-size: 350vw;
    }

}

