body{
    margin: 0;
    background-color: #282C34;
    padding: 0;
}


.selectedprojects_headerdiv {
    background-color: #282C34;
    color: white;
    height: 40vw;
    margin: 0vw auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#heading_text
{
    margin: 23vw 6vw;
    font-size: 2vw;
}

.project_article_pic{
    background-size: 100vw;
    color: white;
    height: 50vw;
    margin: 0vw auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}


#project4_pic
{
    background: url(images/project4_pic.png) 50% 0 no-repeat fixed;
    background-size: 101vw;
}

#project5_pic
{
    background: url(images/Poster.png) 50% 0 no-repeat;
    background-size: 100vw;
    height: 60vw;
}
#project5_article
{
    height: 40vw;
}


#project6_pic
{
    background: url(images/glorious_noon_new.png) 50% 0 no-repeat fixed;
}

#project6_article
{
    height: 220vw;
}

#project6_text
{
    margin: 25vw 6vw;
    font-size: 2vw;
    color: #dddddde3
}

#project6_pic2{
    background: url(images/project6_pic2.png) 50% 0 no-repeat fixed;
    background-size: 50vw;
    color: white;
    height: 50vw;
    margin: 10vw auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#project6_pic3{
    background: url(images/project6_pic3.png) 50% 0 no-repeat;
    background-size: 50vw;
    color: white;
    height: 70vw;
    margin: 10vw auto;
    overflow: hidden;
    padding: 0;
}

#project6_button
{
    margin: -5vw 0 0 36vw;
    
}